{
  "extends": "@istanbuljs/nyc-config-typescript",
  "report-dir": "coverage/e2e",
  "all": true,
  "include": ["src/**/*.ts"],
  "exclude": [
    "coverage/**",
    "cypress/**",
    "dist/**",
    "**/*.spec.ts",
    "src/main.ts",
    "src/environments/environment.*.ts",
    "src/polyfills.ts",
    "src/test.ts"
  ],
  "reporter": ["lcov", "text", "text-summary", "html"]
}
